.root{
    -fx-background-image:url("briquebleu.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

.button{
    -fx-background-color:#0896E4;
    -fx-border-width:1px;
    -fx-border-color:white;
    -fx-background-radius:10px;
    -fx-border-radius:10px;
}

.button:hover{
    -fx-background-color:white;
}

.label{
    -fx-text-fill:black;
}